

.style{
    color: rgb(58, 194, 45);
}
.des{
    color: rgba(50, 0, 0, 0.993);
    font: optional;
    font-weight: bold;
    font-size: large;
    font-weight: 750;
    
}

th{
    text-align: center !important;
}