

.style{
    color: rgb(58, 194, 45);
}
.des{
    color: rgba(50, 0, 0, 0.993);
    font: optional;
    font-size: medium;
    font-weight: 500;
    
}

/* th{
    text-align: center !important;
} */